<div class="col-md-12">
  <h1>New delivery</h1>
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" class="form-control" id="date" placeholder="Date" [(ngModel)]="delivery.date">
        </div>
        <div class="form-group">
          <label for="store">Store</label>
          <input type="text" class="form-control" id="store" placeholder="Store name" [(ngModel)]="delivery.store">
        </div>
        <div class="form-group">
          <label for="deliveryId">Store</label>
          <input type="text" class="form-control" id="deliveryId" placeholder="Delivery ID" [(ngModel)]="delivery.deliveryId">
        </div>
        <button class="btn btn-default" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary" (click)="add(delivery)">Add</button>
    </div>
  </div>
</div>
