<div class="row">
  <div class="col-md-12">
    <loader [isLoading]="isLoadingCategory"></loader>
    <div *ngIf="!isLoadingCategory">
      <h4>Categorie <button class="btn btn-primary btn-xs" (click)="toggleNewCategory()">Aggiungi</button></h4>
      <recipes-new-category *ngIf="isNewCategoryVisible"></recipes-new-category>
      <table class="table-condensed">
        <tr *ngFor="let category of categories | async">
          <td>{{category.name}}</td>
          <td><span class="glyphicon glyphicon-edit"></span></td>
          <td><span class="glyphicon glyphicon-trash" (click)="removeCategory(category)"></span></td>
        </tr>
      </table>
    </div>
  </div>
</div>
